@page
@model Hotel19760575.Pages.Bookings.PeopleDiffModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingInput.RoomID" class="control-label"></label>
                <select asp-for="BookingInput.RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>

            <div class="form-group">
                <label asp-for="BookingInput.CheckIn" class="control-label"></label>
                <input asp-for="BookingInput.CheckIn" class="form-control" />
                <span asp-validation-for="BookingInput.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingInput.CheckOut" class="control-label"></label>
                <input asp-for="BookingInput.CheckOut" class="form-control" />
                <span asp-validation-for="BookingInput.CheckOut" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.SameDates != null)
{

    @if (Model.SameDates.Count == 0)
    {
        <h4>Congratulations @ViewData["Name"]! You have successfully reserved a booking at Goma Hotel!</h4>
        <br />
        <h4><strong>The Details of the booking are listed below:</strong></h4>

        <h5>Room ID: @ViewData["ID"]</h5>
        <h5>Room Level: @ViewData["Level"]</h5>
        <h5>Check IN: @ViewData["CIN"]</h5>
        <h5>Check OUT: @ViewData["COUT"]</h5>
        <h5>Total Cost: @ViewData["TotalPrice"]</h5>

    }
    else
    {
        <h5>Unfortunetly the dates you have chosen for the room is currently unavailable!</h5>
        <h6>Please click on this booking link: <strong><a asp-page="Create">Book A Room</a></strong> 
            and kindly choose another date for that room</h6>

    }

}


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
