@page
@model Hotel19760575.Pages.Rooms.SearchRoomsModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label for="bedCount" asp-for="room.BedCount" class="control-label">Number of beds:</label>
                <select name="bedCount" asp-for="room.BedCount" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>

            </div>

            <div class="form-group">
                <label for="checkIn" asp-for="booking.CheckIn" class="control-label">Check in date:</label>
                <input name="checkIn" asp-for="booking.CheckIn" class="form-control" type="date" required />
            </div>

            <div class="form-group">
                <label for="checkOut" asp-for="booking.CheckOut" class="control-label">Check out date:</label>
                <input name="checkOut" asp-for="booking.CheckOut" class="form-control" type="date" required />
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].BedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @if ((String)ViewData["posted"] == "true")
        {
            @foreach (var item in Model.Room)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BedCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>


